<section class="flex h-full">
  <div
    class="bg-white [@media(min-width:767px)]:rounded-standard overflow-hidden flex flex-col justify-between h-full mx-4"
    style="width: -webkit-fill-available;">

    <div class="flex flex-col items-start justify-between h-full">

      <!-- default chat state -->
      @if(chatTypeInput === chatType.default) {
      <app-default class="w-full flex flex-col"></app-default>
      }

      <!--  headers-->
      @if(chatTypeInput === chatType.private) {
      <app-channel-chat-header class="w-full"></app-channel-chat-header>
      } @else if(chatTypeInput === chatType.channel) {
      <app-private-chat-header></app-private-chat-header>
      }

      <!-- Messager container private -->
      @if (chatTypeInput === chatType.private) {
      <app-chat-messages-container class="w-full overflow-auto h-full" [chatMessages]="chatMessages"
        [chatTypeInput]="chatType.private"></app-chat-messages-container>
      }

      <!-- Messager container channel -->
      @else if (chatTypeInput === chatType.channel) {
      <app-chat-messages-container class="w-full overflow-auto h-full" [chatMessages]="chatMessages"
        [chatTypeInput]="chatType.channel"></app-chat-messages-container>
      }

      <!-- Chatinput-->
      <app-chat-input class="w-full"></app-chat-input>

    </div>
  </div>

  <!-- thread bar -->
  @if(chatTypeInput === 'channel') {
  <app-threadsbar [chatMessages]="chatMessages"></app-threadsbar>
  }
</section>