<section class="flex gap-4">
    <a class="flex justify-center px-4 py-2 min-w-[120px] hover:cursor-pointer text-fc-purple border border-transparent hover:border-fc-purple rounded-full hover:text-fc-dark-purple hover:strong-inner-shadow hover:font-semibold transition-all duration-125 ease-in-out" routerLink="/legal-notice">
      Impressum
    </a>
    <a class="flex justify-center items-center px-4 py-2 min-w-[140px] hover:cursor-pointer text-fc-purple border border-transparent hover:border-fc-purple rounded-full hover:text-fc-dark-purple hover:strong-inner-shadow hover:font-semibold transition-all duration-125 ease-in-out" routerLink="/privacy-policy">
      Datenschutz
    </a>
  </section>