<div
  class="w-full flex flex-col items-start justify-between relative z-[2] h-full"
>
  <!-- h-full oben -->

  <div
    class="w-full h-full overflow-y-auto pt-[1.5rem]"
    #messageField
    id="message-field"
  >
    <!-- h-full oben -->
    @if(chatMessages && !isThread) { @for(message of chatMessages; track
    message; let index = $index) { @if(message.userId === userId) {
    <app-chat-message
      [chatType]="chatType.private"
      [message]="message"
      [messageTypeInput]="messageType.own"
      [isThread]="isThread"
      (click)="messageDataService.setCurrentThreadId(index)"
    ></app-chat-message>
    } @else{
    <app-chat-message
      [chatType]="chatType.private"
      [message]="message"
      [messageTypeInput]="messageType.other"
      [isThread]="isThread"
      (click)="messageDataService.setCurrentThreadId(index)"
    ></app-chat-message>

    <!-- Thread messages. Test with hardcoded [0] as test thread -->
    } } } @if(chatMessages && isThread) {
    <app-chat-message
      [chatType]="chatType.channel"
      [message]="chatMessages[messageDataService.getCurrentThreadId()]"
      [messageTypeInput]="messageType.own"
      [isThread]="isThread"
    ></app-chat-message>

    @for(message of
    chatMessages[messageDataService.getCurrentThreadId()].thread; track message)
    { @if(message.userId === userId) {
    <app-chat-message
      [chatType]="chatType.channel"
      [message]="message"
      [messageTypeInput]="messageType.own"
      [isThread]="isThread"
    ></app-chat-message>
    } @else{
    <app-chat-message
      [chatType]="chatType.private"
      [message]="message"
      [messageTypeInput]="messageType.other"
      [isThread]="isThread"
    ></app-chat-message>
    } } }
  </div>

  @if(chatMessages.length === 0) {
  <div id="chat-info">
    <app-chat-info [chatTypeInput]="chatTypeInput"></app-chat-info>
  </div>
  }
</div>
