<div class="w-full flex flex-col items-start justify-between relative z-[2] h-full">
  <div class="w-full h-full overflow-y-auto pt-[1.5rem] relative">
    <div class="w-full flex flex-col items-start justify-between relative z-[2] h-full">
      <div class="w-full h-full overflow-y-auto pt-[1.5rem]" #messageField id="message-field">

        <!-- private messages -->
        @if(chatMessages && !isThread && chatTypeInput === chatType.private) {
        @for(message of chatMessages; track message; let index = $index) {
        @if(message.creatorId === userId) {
        <app-chat-message [chatType]="chatType.private" [message]="message" [messageTypeInput]="messageType.own"
          [isThread]="isThread" (click)="messageDataService.setCurrentThreadId(index)"
          (openUserPopup)="loadUserData($event)"></app-chat-message>
        }
        @else{
        <app-chat-message [chatType]="chatType.private" [message]="message" [messageTypeInput]="messageType.other"
          [isThread]="isThread" (click)="messageDataService.setCurrentThreadId(index)"
          (openUserPopup)="loadUserData($event)"></app-chat-message>
        }
        }
        }

        <!-- channel messages -->
        @if(chatMessages && !isThread && chatTypeInput === chatType.channel) {
        @for(message of chatMessages; track $index) {
        @if(message.creatorId === userId && message.isThreadMessage === false || message.creatorId === userId && message.isThreadMessage === true && message.hasAThread === true ) {
        <app-chat-message [chatType]="chatType.channel" [message]="message" [messageTypeInput]="messageType.own"
          [isThread]="isThread" (openUserPopup)="loadUserData($event)"></app-chat-message>
        } @else if(message.isThreadMessage === false || message.isThreadMessage === true && message.hasAThread === true ){
        <app-chat-message [chatType]="chatType.channel" [message]="message" [messageTypeInput]="messageType.other"
          [isThread]="isThread" (openUserPopup)="loadUserData($event)"></app-chat-message>
        }
        }
        }

        <!-- Thread messages. -->
        @if(chatMessages && isThread && chatTypeInput === chatType.thread) {
        @for(message of chatMessages; track message; let index = $index) {
        @if(message.creatorId === userId && message.isThreadMessage === true) {
        <app-chat-message [chatType]="chatType.thread" [message]="message" [messageTypeInput]="messageType.own"
          [isThread]="isThread" [isTopMessage]="index === 0" (openUserPopup)="loadUserData($event)"></app-chat-message>
        } @else if(message.isThreadMessage === true){
        <app-chat-message [chatType]="chatType.thread" [message]="message" [messageTypeInput]="messageType.other"
          [isThread]="isThread" [isTopMessage]="index === 0" (openUserPopup)="loadUserData($event)"></app-chat-message>
        }
        }
        }

        <!-- answercount -->
        <!-- [answersCount]="chatMessages[messageDataService.getCurrentThreadId()].thread.length" -->

      </div>


      <!-- chat-info (if chat has no messages) -->
      @if(chatMessages.length === 0) {
      <div id="chat-info">
        <app-chat-info [chatTypeInput]="chatTypeInput"></app-chat-info>
      </div>
      }

    </div>
  </div>
</div>

@if (showUserPopupVisible && clickedUserData) {
<app-other-users-popup [userData]="clickedUserData" (closeUserPopup)="showUserPopupVisible = false" />
}