<div>
  @if(emojiService.hasInteracted() && emojiService.showEmojiMenu() && emojiService.showEmojiMenu().inputType === chatInputType.fromMain && emojiService.showEmojiMenu().isOpen === true && chatInputTypeInput === chatInputType.fromMain) {
  <div class="w-full flex flex-col emoji-picker-container">
    <emoji-mart
      [style]="{
        width: '100%',
        height: '16rem',
        display: 'flex',
        flexDirection: 'column',
        paddingInline: '2.8rem'
      }"
      [darkMode]="false"
      (emojiClick)="emojiService.handleEmojiAction($event, chatInputGroup)"
    >
    </emoji-mart>
  </div>
  }

  @if(emojiService.hasInteracted() && emojiService.showEmojiMenu() && emojiService.showEmojiMenu().inputType === chatInputType.fromThread && emojiService.showEmojiMenu().isOpen === true && chatInputTypeInput === chatInputType.fromThread) {
  <div class="w-full flex flex-col emoji-picker-container">
    <emoji-mart
      [style]="{
        width: '100%',
        height: '16rem',
        display: 'flex',
        flexDirection: 'column',
        paddingInline: '2.8rem'
      }"
      [darkMode]="false"
      (emojiClick)="emojiService.handleEmojiAction($event, chatInputGroup)"
    >
    </emoji-mart>
  </div>
  }

  <form
    [formGroup]="chatInputGroup"
    (ngSubmit)="onSubmit()"
    class="pt-5 pb-[2rem] px-[0.5rem] md:py-6 md:px-[2.8rem] w-full"
  >
    <div
      class="border border-[#ADB0D9] w-full h-[9rem] rounded-[--border-radius] p-[1.25rem] flex flex-col items-start justify-between"
    >
      <label for="message"></label>

      <textarea
        name="message"
        id="message"
        placeholder="Schreibe eine neue Nachricht."
        formControlName="message"
        class="placeholder-[#686868] w-full h-auto resize-none mb:pt-2 mb:px-3 focus:outline-none focus:ring-0 focus:border-transparent font-['Nunito',_sans-serif] text-fontSizeChat text-area"
      ></textarea>

      <div class="flex flex-row items-center justify-between w-full relative">
        <div class="flex flex-row items-center justify-center gap-2">
          <button
            type="button"
            class="p-2 rounded-[50%] cursor-pointer transition-colors ease-in-out duration-[200ms] hover:bg-bg-main"
            (click)="
              emojiService.toggleEmojiMenu(
                $event,
                emojiFnRegulator.addEmojiToText,
                returnToggleEmojiObject()
              )
            "
            (mouseenter)="isEmojiHovered = true"
            (mouseleave)="isEmojiHovered = false"
          >
            <img
              *ngIf="!isEmojiHovered && !isEmailHovered"
              src="img/sentiment_satisfied_gray.svg"
              alt="Emoji Gray"
              class="w-6 h-6"
            />
            <img
              *ngIf="isEmailHovered"
              src="img/sentiment_satisfied_black.svg"
              alt="Emoji Black"
              class="w-6 h-6"
            />
            <img
              *ngIf="isEmojiHovered && !isEmailHovered"
              src="img/sentiment_satisfied_purple.svg"
              alt="Emoji Purple"
              class="w-6 h-6"
            />
          </button>

          <button
            type="button"
            class="p-2 rounded-[50%] cursor-pointer transition-all ease-in-out duration-[200ms] hover:bg-bg-main"
            (click)="onMentionClick()"
            (mouseenter)="isEmailHovered = true"
            (mouseleave)="isEmailHovered = false"
          >
            <img
              *ngIf="!isEmailHovered && !isEmojiHovered"
              src="img/alternate_email_gray.svg"
              alt="Email Gray"
              class="w-6 h-6"
            />
            <img
              *ngIf="isEmojiHovered"
              src="img/alternate_email_black.svg"
              alt="Email Black"
              class="w-6 h-6"
            />
            <img
              *ngIf="isEmailHovered && !isEmojiHovered"
              src="img/alternate_email_purple.svg"
              alt="Email Purple"
              class="w-6 h-6"
            />
          </button>

  <div
    *ngIf="searchUserDropdownVisible"
    class="absolute bottom-full mb-2 z-50"
  >
    <app-search-dropdown
      [visible]="searchUserDropdownVisible"
      [searchUser]="true"
      [searchChannel]="false"
      [searchTerm]="searchTerm"
      (visibleChange)="searchUserDropdownVisible = $event"
    ></app-search-dropdown>
  </div>
        </div>

        <button
          type="submit"
          class="p-2 cursor-pointer"
          (mouseenter)="isSendHovered = true"
          (mouseleave)="isSendHovered = false"
        >
          <img
            *ngIf="!isSendHovered"
            src="img/send_icon_dark_purple.svg"
            alt="Send Icon Dark"
            class="w-10 h-10"
          />
          <img
            *ngIf="isSendHovered"
            src="img/send_icon_light_purple.svg"
            alt="Send Icon Light"
            class="w-10 h-10"
          />
        </button>
      </div>
    </div>
  </form>
</div>
