<section class="
bg-white 
[@media(min-width:767px)]:rounded-standard
overflow-hidden
flex
flex-col
justify-between
">
    <div class="flex flex-col items-start justify-start h-[79%]">

        <app-private-chat-header></app-private-chat-header>


        <app-chat-messages-container class="w-full overflow-y-auto" [chatMessages]="chatMessages"
            [chatTypeInput]="chatType.private"></app-chat-messages-container>

    </div>

    <app-chat-input class="w-full"></app-chat-input>
</section>