<main class="
    min-w-full
    min-h-screen
    flex
    flex-col
">
    <app-header></app-header>

    <div id="content" class="
        flex
        justify-center
        items-start
        h-screen
        min-h-0
        ">
        <app-sidebar class="h-full"></app-sidebar>

        <div id="roouter-outlet-wrap" class="
            flex-grow
            bg-red-600
            h-full min-h-0
        ">
           <router-outlet /> 
        </div>
        
    </div>

</main>

<!-- <app-firestore-test></app-firestore-test> -->