<div
  id="auth-layout-wrapper"
  class="h-screen flex flex-col justify-center items-center p-4 gap-6"
>
<div id="mobile-logo-wrapper" class="flex lg:hidden items-center gap-4 w-fit">
  <img class="h-14 w-14" src="img/logo.svg" alt="" />
  <span class="font-bold text-fontSizeAuthTitle">DABubble</span>
  <!-- <app-da-bubble-logo></app-da-bubble-logo> -->
</div>

<div id="desktop-logo-wrapper" class="hidden lg:block">
  <app-da-bubble-logo></app-da-bubble-logo>
</div>

  <app-modal>
    <div
      id="login-content-wrapper"
      class="flex flex-col text-center gap-2 lg:gap-4"
    >
      <div
        id="avatar-title-wrapper"
        class="flex relative justify-center items-center"
      >
      <a routerLink="/" class="flex justify-center items-center">
        <img
          src="/img/arrow_left_black.svg"
          alt=""
          class="absolute left-0 cursor-pointer"
        />
      </a>
        <span
          id="avatar-title"
          class="text-fontSizeAuthTitle font-bold text-fc-dark-purple mx-10 leading-tight"
          >Passwort zurücksetzen</span
        >
      </div>
      <p>Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
      <form action="" class="flex flex-col gap-6">
        <app-form-input
          type="email"
          placeholder="beispielname@email.com"
          class="mt-2"
        ></app-form-input>

        <p class="text-fc-grey">
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>

        <div id="buttons-wrapper" class="flex gap-4 mt-4 w-full justify-end">
          <app-button type="greyButton"><span>E-Mail senden</span></app-button>
        </div>
      </form>
    </div>
  </app-modal>

</div>
