<!-- Hintergrund-Overlay -->
<div
  class="absolute flex items-center justify-center top-0 left-0 w-full h-full bg-black/50 z-10"
  (click)="closeProfile()"
>
  <!-- Klick im Overlay schließt Profil -->

  <!-- Innen das Profil-Panel -->
  <div
    class="bg-bg-component flex flex-col gap-4 pl-4 pr-4 pt-8 pb-8 rounded-standard z-20"
    (click)="$event.stopPropagation()"
  >
    <div class="flex justify-between max-w-72 min-w-72">
      <p class="font-bold text-24">Profill</p>
      <img
        (click)="closeProfile()"
        class="hover:cursor-pointer"
        src="img/close.svg"
        alt=""
      />
    </div>
    <div class="flex items-center justify-center">
      <img
        class="w-[128px] h-[128px] rounded-full"
        src="img/user_1.png"
        alt=""
      />
    </div>
    <div class="flex justify-between items-center">
      <p class="text-24 font-bold">Frederick Beck</p>
      <div
        class="w-6 h-6 bg-gray-200 rounded-full p-2 flex items-center justify-center"
      >
        <img
          class="object-contain w-4 h-4 hover:cursor-pointer"
          src="img/edit_pencil.svg"
          alt=""
        />
      </div>
    </div>
    <div class="flex gap-4">
      <img
        [src]="active ? 'img/online_profile.svg' : 'img/offline_profile.svg'"
        alt=""
      />
      <p [ngStyle]="{ color: active ? green : 'black' }" class="">Aktive</p>
    </div>
    <div
      class="inline-grid gap-4 [grid-template-columns:repeat(2,min-content)] [grid-template-rows:repeat(2,auto)] items-center"
    >
      <img src="img/mail.svg" alt="" class="w-5 h-5" />
      <p class="row-start-1 col-start-2 text-lg font-bold">E‑Mail‑Adresse</p>
      <p class="row-start-2 col-start-2">email&#64;beispiel.com</p>
    </div>
  </div>
</div>
