<app-dropdown
  *ngIf="visible"
  [cornerOverride]="'rounded-tl-none bg-white'"
  [cornerOverride]="'rounded-tl-none bg-white'"
>
  <div class="flex justify-between">
    <h2># {{ channelName }}</h2>
    <img
      (click)="onCloseClick()"
      class="w-6 cursor-pointer"
      src="img/close.svg"
      alt="Schließen"
    />
  </div>

  <div
    [ngClass]="
      !editChannel
        ? 'flex justify-between p-4 flex-col border rounded-3xl gap-4'
        : 'flex justify-between pb-4 flex-col gap-4 border-none'
    "
    class="transition-all duration-100 ease-in-out"
  >
    <div class="flex justify-between">
      <h3>{{ channelName }}</h3>
      <div
        (click)="edit('edit')"
        class="text-fc-purple cursor-pointer font-bold"
      >
        {{ editChannel ? "Speichern" : "Bearbeiten" }}
      </div>
    </div>
    <input
      [hidden]="!editChannel"
      class="rounded-standard border p-3 border-color-border w-full focus:outline-none transition-opacity duration-300 ease-in-out placeholder:text-4 font-bold"
      [ngClass]="editChannel ? 'opacity-100' : 'opacity-0'"
      type="text"
      placeholder="# Entwicklerteam"
    />

    <div
      [hidden]="editChannel"
      class="transition-opacity duration-300 ease-in-out text-4 font-bold"
      [ngClass]="!editChannel ? 'opacity-100' : 'opacity-0'"
    >
      # Entwicklerteam
    </div>
  </div>

  <div
    [ngClass]="
      !editDescription
        ? 'flex justify-between p-4 flex-col border rounded-3xl gap-4'
        : 'flex justify-between pb-4 flex-col gap-4 border-none'
    "
    class="transition-all duration-100 ease-in-out"
  >
    <div class="flex justify-between">
      <h3>Beschreibung</h3>
      <div
        (click)="edit('description')"
        class="text-fc-purple cursor-pointer font-bold"
      >
        {{ editDescription ? "Speichern" : "Bearbeiten" }}
      </div>
    </div>
    <textarea
      [(ngModel)]="inputValue"
      [hidden]="!editDescription"
      class="scrollbar-hide rounded-standard border p-3 border-color-border w-full focus:outline-none transition-opacity duration-300 ease-in-out placeholder:text-4 font-bold resize-none overflow-auto"
      [ngClass]="editDescription ? 'opacity-100' : 'opacity-0'"
      type="text"
      placeholder="# Entwicklerteam"
    ></textarea>
    <div
      [hidden]="editDescription"
      class="transition-opacity duration-300 ease-in-out text-4 font-bold"
      [ngClass]="!editDescription ? 'opacity-100' : 'opacity-0'"
    >
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat nobis
      voluptas non at consequuntur delectus accusamus veniam sit necessitatibus
      nisi temporibus deserunt nulla aliquam tenetur perspiciatis natus, ea
      doloremque. Obcaecati?
    </div>
    <div class="w-full h-px border"></div>
    <div>
      <h3>Erstellt von</h3>
      <div class="text-fc-purple text-2xl cursor-pointer">Noah Arche</div>
    </div>
  </div>

  <div class="flex justify-end">
    <app-button (click)="leaveChannel()">Channel verlassen</app-button>
  </div>
</app-dropdown>
