<app-other-users-popup
  *ngIf="userPopupVisible"
  (closeUserPopup)="toggleClickedUserPopup()"
></app-other-users-popup>

<!-- not done yet -->
<app-profile-user *ngIf="false"></app-profile-user>

<app-dropdown
  *ngIf="visible"
  [cornerOverride]="'rounded-tl-none bg-white'"
  [cornerOverride]="'rounded-tl-none bg-white'"
>
  <div class="flex justify-between">
    <h2>{{ channelNameWithHash() }}</h2>
    <img
      (click)="onCloseClick()"
      class="w-6 cursor-pointer"
      src="img/close.svg"
      alt="Schließen"
    />
  </div>

  <div
    [ngClass]="
      !editChannelNameOpen
        ? 'flex justify-between p-4 flex-col border rounded-3xl gap-4'
        : 'flex justify-between pb-4 flex-col gap-4 border-none'
    "
    class="transition-all duration-100 ease-in-out"
  >
    <div class="flex justify-between">
      <h3>Channel-Name</h3>
      <div (click)="editChannelName()" class="text-fc-purple cursor-pointer font-bold">
        {{ editChannelNameOpen ? "Speichern" : "Bearbeiten" }}
      </div>
    </div>
    <input
      [ngModel]="channelNameSignal()"
      (ngModelChange)="channelNameSignal.set($event)"
      [hidden]="!editChannelNameOpen"
      class="rounded-standard border p-3 border-color-border w-full"
      [ngClass]="editChannelNameOpen ? 'opacity-100' : 'opacity-0'"
      type="text"
      placeholder="{{ channelNameWithHash() }}"
    />

    <div
      [hidden]="editChannelNameOpen"
      class="transition-opacity duration-300 ease-in-out text-4 font-bold"
      [ngClass]="!editChannelNameOpen ? 'opacity-100' : 'opacity-0'"
    >
      {{ channelNameWithHash() }}
    </div>
  </div>

  <div
    [ngClass]="
      !editDescriptionOpen
        ? 'flex justify-between p-4 flex-col border rounded-3xl gap-4'
        : 'flex justify-between pb-4 flex-col gap-4 border-none'
    "
    class="transition-all duration-100 ease-in-out"
  >
    <div class="flex justify-between">
      <h3>Beschreibung</h3>
      <div
        (click)="editDescriptionFN()"
        class="text-fc-purple cursor-pointer font-bold"
      >
        {{ editDescriptionOpen ? "Speichern" : "Bearbeiten" }}
      </div>
    </div>
    <textarea
      [ngModel]="channelDescriptionSignal()"
      (ngModelChange)="channelDescriptionSignal.set($event)"
      [hidden]="!editDescriptionOpen"
      class="scrollbar-hide rounded-standard border p-3 border-color-border w-full focus:outline-none transition-opacity duration-300 ease-in-out placeholder:text-4 font-bold resize-none overflow-auto"
      placeholder="Beschreibung hier eingeben"
    ></textarea>
    <div
      [hidden]="editDescriptionOpen"
      class="transition-opacity duration-300 ease-in-out text-4 font-bold"
      [ngClass]="!editDescriptionOpen ? 'opacity-100' : 'opacity-0'"
    >
      {{ channelDescriptionSignal() }}
    </div>
    <div class="w-full h-px border"></div>
    <div>
      <h3>Erstellt von</h3>
      <div
        (click)="toggleClickedUserPopup()"
        class="text-fc-purple text-2xl cursor-pointer"
      >
        {{ channelCreatorData?.firstName }} {{ channelCreatorData?.lastName }}
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <app-button (click)="leaveChannel()">Channel verlassen</app-button>
  </div>
</app-dropdown>
