
<form 
    action=""
    class="
        py-[3.75rem]
        px-[5.6rem]
        w-full
    "
>
    <div 
        class="
            border border-[#ADB0D9]
            h-full
            w-full
            h-[9rem]
            rounded-[--border-radius]
            p-[1.25rem]

        "
    >

        <textarea  
            placeholder="an input"
            class="
                placeholder-[#686868]
                w-full
                h-full
                resize-none
                pt-2
                px-3
                focus:outline-none focus:ring-0 focus:border-transparent
            "

        ></textarea>
    </div>
</form>
