<section>
  <div class="doc-display">
    @for(userMessage of userMessages; track $index){
    <p>{{ userMessage.from }} {{ userMessage.timestamp | date : "HH:mm" }}</p>
    }

    <h1>Collection-title</h1>
    <p class="value-display col-title">
      test-collection (for the test, the name is hard coded, it can be replaced
      by the name/key of the collection wich is used to subscribe the docList)
    </p>

    <!--
            you need to use the async pipe to be able to get the data. 
            you dont need to subscribe or unsibscribe, with the async pipe angular is automaticly doing it for you.
            
            imports needed:
            commonModule
        -->
    @if (collection$ | async; as docList) {
    <h2>Document-title</h2>
    @for (doc of docList; track $index) {

    <p class="value-display doc-title">
      {{ doc["title"] }}
    </p>
    }
    <h2>Document-value</h2>
    @for (doc of docList; track $index) {
    <p class="value-display doc-value">
      {{ doc["value"] }}
    </p>
    } }

    <form
      #ngform
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-direction: column;
      "
      (ngSubmit)="logValue()"
    >
      <p class="value-display doc-title">
        Select the document wich should be changed
      </p>
      @if (collection$ | async; as docList) { @for (doc of docList; track
      $index) {
      <app-select-option
        (docTitleOutput)="selectDoc($event)"
        class="w-full"
        [docTitle]="doc['title']"
      ></app-select-option>
      } } @if(selectedDocTitle != '') {
      <h2>Selected Document is {{ selectedDocTitle }}</h2>
      }

      <div class="w-full border border-[rgba(0,0,0,0.2)] p-2">
        <textarea
          [(ngModel)]="newDocumentValue"
          name="changeValue"
          id="changeValue"
          placeholder="change here the value of the document"
          class="w-full text-center"
        ></textarea>
      </div>

      <button
        type="submit"
        class="border border-[rgba(0,0,0,0.2)] p-2 hover:bg-[rgba(0,0,0,0.1)] transition-colors duration-200 ease-in-out"
        *ngIf="selectedDocTitle != ''"
      >
        Submit Change
      </button>
    </form>
  </div>
</section>
