<div
 class="
    w-full
    flex
    flex-col
    items-start
    justify-between
    h-full
 "
>
    <div class="w-full h-full overflow-y-auto" #messageField id="message-field">
        @if(chatMessages) {
            @for(message of chatMessages; track message) {
                @if(message.userId === userId) {
                    <app-chat-message [chatType]="chatType.private" [message]="message" [messageTypeInput]="messageType.own"></app-chat-message>
                }
                @else{
                    <app-chat-message [chatType]="chatType.private" [message]="message" [messageTypeInput]="messageType.other"></app-chat-message>
                }
            }
        }
        
    </div>

    @if(chatMessages.length === 0) {
        <div id="chat-info">
            <app-chat-info [chatTypeInput]="chatTypeInput"></app-chat-info>
        </div>
    }
</div>
