<div
  *ngIf="showUserPopupVisible && selectedUser"
  class="fixed inset-0 z-[100] bg-black bg-opacity-30 flex items-center justify-center"
  (click)="closeUserPopup()"
>
  <div (click)="$event.stopPropagation()">
    <app-other-users-popup
      [userData]="selectedUser"
      (closeUserPopup)="closeUserPopup()"
    ></app-other-users-popup>
  </div>
</div>

<!-- <app-other-users-popup
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[90000000000]"
></app-other-users-popup> -->
@if (visible){

<div
  id="search-dropdown-wrapper"
  class="max-h-80 w-80 bg-white flex flex-col gap-2 overflow-y-auto overflow-x-hidden p-2 border border-[rgba(173, 176, 217, 1)] rounded-2xl rounded-tl-[0px] relative z-[999]"
  [ngClass]="{
    'absolute bottom-full mb-2 rounded-tl-2xl': dropdownDirection === 'up',
    'absolute top-full mt-2': dropdownDirection === 'down'
  }"
>
  @if (searchUser) { @if (usersList$ | async; as users) { @for (user of users;
  track $index) {
  <app-user-element
    [name]="user.firstName + ' ' + user.lastName"
    [isOnline]="user.online"
    [avatarSrc]="'img/user_' + user.avatarId + '.png'"
    (click)="onUserClicked(user)"
  ></app-user-element>
  } }} @if (searchChannel) { @for (channel of channels(); track $index) {
  <div
    id="channelElement"
    class="flex items-center gap-2 text-lg bg-white p-2 rounded-xl hover:bg-slate-300"
    (click)="openChannel(channel.id)"
  >
    <span class="font-bold text-xl">#</span>
    <span>{{ channel.data.channelName }}</span>
  </div>

  } }@if (searchText) { @for (message of messages(); track $index) {

  <div
    id="message-wrapper"
    class="hover:bg-slate-300 p-4 rounded-xl"
    (click)="redirectToChannel(message)"
  >
    <div id="name-and-date-wrapper">
      <span class="font-bold">{{ message.creatorName }} </span>
      <span class="text-xs">{{ message.timestamp | date : "short" }}</span>
    </div>
    {{ message.message }}
  </div>
  } }
</div>
}
