@if(chatTypeInput === 'private') {
<div class="flex flex-col gap-6">
    <div class="
            flex
            flex-row
            gap-6
            items-end
        ">

        <div class="h-[6.25rem] w-[6.25rem] rounded-[50%] overflow-hidden">
            <img class="w-full h-full" src="img/user_1.png" alt="">
        </div>

        <span class="text-24 font-[700]">
            A name
        </span>
    </div>
    <span>
        Diese Unterhaltung findet nur zwischen A name und dir statt.
    </span>
</div>

}