<div
  class="flex gap-4 items-center p-2 hover:cursor-pointer bg-white hover:bg-slate-300 relative rounded-xl"
>
  <div class="relative">
    <img
      class="min-w-10 h-10 rounded-full flex-shrink-0"
      [src]="avatarSrc"
      alt=""
    />
    <div
      id="onlineCircle"
      [ngClass]="[
        'absolute w-[14px] h-[14px] right-0 bottom-0 rounded-full border-2 border-white box-border',
        isOnline ? 'bg-bg-online' : 'bg-bg-offline'
      ]"
    ></div>
  </div>
  <p>{{ name }}</p>
</div>
