<div class="w-full px-10 py-6" *ngIf="chatPartnerData">
  <div
    class="flex items-center gap-4 cursor-pointer hover:bg-bg-main w-fit rounded-full px-2 py-2"
    (click)="toggleClickedUserPopup()"
  >
    <div class="flex flex-row relative">
      <div class="h-[3.125rem] w-[3.125rem]">
        <img
          class="w-full h-full rounded-[50%]"
          [src]="'img/user_' + chatPartnerData.avatarId + '.png'"
          alt=""
        />
        <img
          [src]="online ? 'img/online.svg' : 'img/offline.svg'"
          alt=""
          class="absolute bottom-0 right-0"
        />
      </div>
    </div>
    <span class="text-24 font-[700]">
      {{ chatPartnerData.firstName }} {{ chatPartnerData.lastName }}
    </span>
  </div>
</div>


<app-other-users-popup
  *ngIf="showUserPopupVisible && chatPartnerData"
  [userData]="chatPartnerData"
  (closeUserPopup)="toggleClickedUserPopup()"
/>