<div class="w-full flex justify-between">
  <div class="flex gap-4 h-24 text-24 font-bold items-center pl-8 pr-8">
    <p>#</p>
    <p>Entwicklerteam</p>
    <img class="w-5 h-5" src="img/arrow_drop_down.svg" alt="" />
  </div>
  <div class="flex items-center">
    <img class="w-5 h-5" src="img/user_1.png" alt="" />
    <img class="w-5 h-5" src="img/user_1.png" alt="" />
    <img class="w-5 h-5" src="img/user_1.png" alt="" />
    <p>3</p>
    <button><img src="img/person_add.svg" alt="" /></button>
  </div>
</div>
