<header class="flex justify-between items-center gap-4">
<div class="flex items-center gap-4 logoWrapper">
    <img class="w-16" src="assets/img/logo.png" alt="">
    <div class="text-2xl font-bold">DABubble</div>
</div>

<app-searchbar class="bg-slate-800"></app-searchbar>

<div class="flex items-center gap-4 currentUserWrapper">
   <div class="currentUserName">Kevin Alleine</div>
   <img class="w-16" src="assets/img/user_1.png" alt=""> 
   <img class="w-16" src="assets/img/keyboard_arrow_black.png" alt="">
</div>

</header>
