img {
  max-width: none !important;
}

.hoverWorkspace:hover {
  cursor: pointer;
  p {
    color: #535af1;
    scale: 1.025;
  }
  svg {
    rect {
      stroke: #535af1;
    }
    path {
      stroke: #535af1;
    }
  }
}

:host {
height: 100%;
}

.direcktnachrichten::-webkit-scrollbar {
  display: none;
}
.direcktnachrichten {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}