.margin-left-img {
  img {
    &:not(:first-child) {
      margin-left: -0.5rem;
    }
  }
}

button:hover {
  svg {
    fill: #535af1;
    scale: 1.045;
    rect {
      stroke: #535af1;
      scale: 1.0025;
    }
    path {
      stroke: #535af1;
    }
  }
}
