<div class="flex h-24 justify-between items-center pl-8 pr-8 relative">
  <div
    (click)="openChannelPopup()"
    class="flex gap-4 p-4 h-11 text-24 font-bold items-center cursor-pointer hover:bg-[rgb(240,241,254)] rounded-full"
  >
    <p>#</p>
    <p>{{ channelName }}</p>
    <img class="w-5 h-5" src="img/arrow_drop_down.svg" alt="" />
  </div>

  <!-- user selection -->
  <div class="flex items-center gap-4">
    <div
      (click)="openShowAddedUserPopup()"
      class="margin-left-img flex cursor-pointer"
    >
      <img class="w-7 h-7 rounded-full" src="img/user_1.png" alt="" />
      <img class="w-7 h-7 rounded-full" src="img/user_1.png" alt="" />
      <img class="w-7 h-7 rounded-full" src="img/user_1.png" alt="" />
    </div>

    <p>{{ (userIds$ | async)?.length }}</p>

    <button
      (click)="openAddUserToChannelPopUp()"
      class="bg-[#eceefe] w-10 h-10 items-center justify-center flex rounded-full relative group"
    >
      <img src="img/person_add_gray_bg.svg" class="absolute" />
      <img
        src="img/person_add_colored_bg.svg"
        class="absolute opacity-0 group-hover:opacity-100 transition-opacity duration-200"
      />

      @if (showUserPopupContainer) {
      <app-channel-adduser-popup
        *ngIf="showUserPopupContainer"
        [channelName]="channelName"
        [usersList$]="usersList$"
        [usersNotInChannel$]="usersNotInChannel$"
        [userIds$]="userIds$"
        [mode]="popupMode"
        (closePopup)="closeUserPopupContainer()"
      ></app-channel-adduser-popup>
      }
    </button>
  </div>
</div>

<app-channel-edit-popup
  *ngIf="showChannelPopup"
  [channelName]="channelName"
  [channelDescription]="channelDescription"
  [visible]="showChannelPopup"
  (closed)="closeChannelPopup()"
></app-channel-edit-popup>
