<div class="flex h-24 justify-between items-center pl-8 pr-8 relative">
  <div
    (click)="openChannelPopup()"
    class="flex gap-4 p-4 h-11 text-24 font-bold items-center cursor-pointer hover:bg-[rgb(240,241,254)] rounded-full"
  >
    <p>#</p>
    <p>{{ channelName }}</p>
    <img class="w-5 h-5" src="img/arrow_drop_down.svg" alt="" />
  </div>

  <!-- user selection -->
  <div class="flex items-center gap-4">
    <div
      (click)="openShowAddedUserPopup()"
      class="flex cursor-pointer items-center bg-white hover:bg-bg-main text-black rounded-standard h-12 w-fit pl-4 pr-4 gap-4"
    >
      <ng-container *ngIf="usersInChannel$ | async as usersInChannel">
        <div class="flex -space-x-2 items-center">
          <ng-container *ngFor="let user of usersInChannel; let i = index">
            <ng-container *ngIf="i < 5">
              <img
                class="w-10 h-10 rounded-full border-2 border-white"
                [src]="getAvatar(user.avatarId)"
                alt="avatar"
              />
            </ng-container>
          </ng-container>

          <div
            *ngIf="usersInChannel.length > 5"
            class="w-10 h-10 rounded-full border-2 border-white bg-bg-main text-sm text-black flex items-center justify-center font-medium"
          >
            +{{ usersInChannel.length - 5 }}
          </div>
        </div>
      </ng-container>
    </div>

    <p>{{ (userIds$ | async)?.length }}</p>

    <button
      (click)="openAddUserToChannelPopUp()"
      class="bg-[#eceefe] w-9 h-9 items-center justify-center flex rounded-full relative group"
    >
      <img src="img/person_add_gray_bg.svg" class="absolute" />
      <img
        src="img/person_add_colored_bg.svg"
        class="absolute opacity-0 group-hover:opacity-100 transition-opacity duration-200"
      />
    </button>
  </div>

  @if (showUserPopupContainer) {
  <app-channel-adduser-popup
    class="absolute right-0 top-24"
    *ngIf="showUserPopupContainer"
    [channelName]="channelName"
    [usersList$]="usersList$"
    [usersNotInChannel$]="usersNotInChannel$"
    [usersInChannel$]="usersInChannel$"
    [userIds$]="userIds$"
    [mode]="popupMode"
    (closePopup)="closeUserPopupContainer()"
    (openAddUserPopup)="openAddUserToChannelPopUp()"
  ></app-channel-adduser-popup>
  }
</div>

<app-channel-edit-popup
  *ngIf="showChannelPopup"
  [channelName]="channelName"
  [channelDescription]="channelDescription"
  [visible]="showChannelPopup"
  (closed)="closeChannelPopup()"
></app-channel-edit-popup>
