<div
  id="auth-layout-wrapper"
  class="h-screen flex flex-col justify-center items-center p-4 gap-6"
>
  <div id="mobile-logo-wrapper" class="flex lg:hidden items-center gap-4 w-fit">
    <img class="h-14 w-14" src="img/logo.svg" alt="" />
    <span class="font-bold text-fontSizeAuthTitle">DABubble</span>
  </div>

  <div
    id="desktop-logo-wrapper"
    class="absolute hidden lg:flex items-center gap-4 w-fit m-10 top-0 left-0"
  >
    <img class="h-14 w-14" src="img/logo.svg" alt="" />
    <span class="font-bold text-fontSizeAuthTitle">DABubble</span>
  </div>

  <!-- <app-login class="h-fit"></app-login> -->
  <!-- <app-signup class="h-fit"></app-signup> -->
  <!-- <app-choose-avatar></app-choose-avatar> -->
  <!-- <app-reset-password></app-reset-password> -->
  <app-set-password></app-set-password>
  <div id="mobile-signup-wrapper" class="flex lg:hidden flex-col gap-4">
    <span>Neu bei DABubble?</span>
    <app-button type="transparentButton">Konto erstellen</app-button>
  </div>

  <div
    id="desktop-signup-wrapper"
    class="absolute hidden lg:flex flex-col gap-4 m-10 top-0 right-0 text-end"
  >
    <span>Neu bei DABubble?</span>
    <a routerLink="/home" class="hover:cursor-pointer text-fc-purple"
      >Konto erstellen</a
    >
  </div>
</div>
