<div
 class="
    w-full
    h-full
    flex
    flex-col
    items-start
    justify-between
    md:px-[2.8rem]
    px-[1rem]
 "
>
    <div class="w-full" id="message-field">
        @if(chatMessages) {
            @for(message of chatMessages; track message) {
                @if(message.userId === userId) {
                    <app-chat-message [message]="message" [messageTypeInput]="messageType.own"></app-chat-message>
                }
                @else{
                    <app-chat-message [message]="message" [messageTypeInput]="messageType.other"></app-chat-message>
                }
            }
        }
        
    </div>

    <div id="chat-info">
        <app-chat-info [chatTypeInput]="chatTypeInput"></app-chat-info>
    </div>
</div>
